<%- include ('../partials/header.ejs')%>
<section class="category-list">
  <%for( category in categories ){
          let tradesByCategory = trades.filter((trade)=>trade.category==categories[category]).sort((t1,t2)=>t1.price-t2.price)
          if(tradesByCategory.length){   %>
  <div class="catogory">
    <h1 class="category-heading"><%= categories[category] %></h1>
    <div class="row">
      <% 
                 for(let i =0 ;i<tradesByCategory.length;i++){ %>
      <div class="col-1">
        <div class="card">
          <a href="/trades/<%=tradesByCategory[i].id %>">
            <img src="/images/<%=tradesByCategory[i].imageName %>" alt="" class="card-img" />
            <h1><%=tradesByCategory[i].title %></h1>
            <p class="price">$<%=tradesByCategory[i].price %></p>
          </a>
        </div>
      </div>
      <%}%>
                </div>
              </div>
            <%}}%>
</section>
<% if(!trades.length){ %>
<section>
  <h3> No Trades Items Available !!! Please Start Trading</h3>
</section>
<%}%>
    
<br>
<br>
<br>
<br>
<%- include ('../partials/footer.ejs')%>