<%- include ('../partials/header.ejs')%>
<section>
  <div class="trade">
    <div class="row">
      <div class="col-1">
        <img
          src="../images/<%=trade.imageName%>"
          alt="<%=trade.imageName%>"
          class="card-img"
        />
      </div>
      <div class="col-2">
        <h1><%=trade.title%></h1>
        <p class="price">Price : $<%=trade.price%></p>
      </div>
      <% if(user != trade.owner._id) { %>
      <div class="col-1">
        <h3 style="color: burlywood">
          Are You interested in this household product?
        </h3>
        <form>
          <div class="row">
            <div class="col-4">
              <%if(!offeredTrade){%>
              <button
                class="submit_button"
                type="submit"
                formmethod="GET"
                formaction="/users/trades/<%=trade.id%>"
              >
                trade
              </button>
              <%}else{%>
              <button
                class="delete_button"
                type="submit"
                formmethod="POST"
                formaction="/users/offer/<%= offeredTrade._id %>?_method=DELETE"
              >
                Cancel Offer
              </button>
              <%}%> <%if(!watchedTrade){%>
              <button
                class="watch_button"
                type="submit"
                formmethod="POST"
                formaction="/trades/watch/<%=trade.id%>"
              >
                watch
              </button>
              <%}else{%>
              <button
                class="watch_button"
                type="submit"
                formmethod="POST"
                formaction="/trades/watch/<%=trade.id%>?_method=DELETE"
              >
                unwatch
              </button>
              <%}%>
            </div>
          </div>
        </form>
      </div>
      <% } %>
    </div>
    <div class="row">
      <h1>About this item</h1>
      <p><%=trade.details%></p>
    </div>
    <div class="row">
      <h1>Item Owner Name</h1>
      <p><%=trade.owner.firstName%> <%=trade.owner.lastName%></p>
    </div>
  </div>
  <% if(user == trade.owner._id) { %>
  <form>
    <div class="row">
      <div class="col-4">
        <button
          class="submit_button"
          type="submit"
          formmethod="GET"
          formaction="/trades/<%=trade.id%>/edit"
        >
          Edit
        </button>
        <button
          class="delete_button"
          type="submit"
          formmethod="POST"
          formaction="/trades/<%=trade.id%>?_method=DELETE"
        >
          Delete
        </button>
      </div>
    </div>
  </form>
  <% } %>
</section>
<br />
<br />
<br />
<br />
<%- include ('../partials/footer.ejs')%>
